<div id="canvas-sidebar">
  <div class="close-canvas">
    <a href="#"><i class="fas fa-times"></i></a>
  </div>
  <div class="left-sidebar">
    <nav>
      <ul class="left-sidebar-menu">
        <li>
          <ul class="parent-menu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, category_path(category) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
