<span id="toggle_replies_Comment_<%= comment.id %>"><a class="" data-toggle="collapse" href="#Comment-<%= comment.id %>-comments-ul" role="button" aria-expanded="true" aria-controls="Comment-<%= comment.id %>-comments-ul"> <%= t ".hide" %> </a></span>
